<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container large-container">

        <h1>Password Vault 🔐</h1>

        <p>Welcome, {{ username }}</p>

        <a href="/logout">
            <button>Logout</button>
        </a>

        <br><br>

        <form method="POST">

            <input type="text"
                   name="website"
                   placeholder="Website Name"
                   required>

            <input type="text"
                   name="account_username"
                   placeholder="Account Username"
                   required>

            <input type="password"
                   name="account_password"
                   placeholder="Password"
                   required>

            <button type="submit">
                Save Password
            </button>

        </form>

        <h3>{{ strength_message }}</h3>

        <h2>Saved Passwords</h2>

        <table>

            <tr>
                <th>Website</th>
                <th>Username</th>
                <th>Password</th>
                <th>Action</th>
            </tr>

            {% for entry in entries %}

            <tr>

                <td>{{ entry.website }}</td>

                <td>{{ entry.account_username }}</td>

                <td>

                    <span id="password-{{ entry.id }}">
                        ********
                    </span>

                    <br><br>

                    <button
                        type="button"
                        class="show-btn"
                        onclick="togglePassword('{{ entry.id }}', '{{ entry.account_password }}')">

                        👁 Show

                    </button>

                </td>

                <td>
                    <a href="/delete/{{ entry.id }}">
                        Delete
                    </a>
                </td>

            </tr>

            {% endfor %}

        </table>

    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>